*{
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainBody{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchBar{
  margin-bottom: 1rem;
}

input {
  width: 20vw;
  height: 5vh;
  text-align: center;
  border-radius: 20px;
}

.colourBackground{
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 4px 1px 10px;
  width: 20vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

button{
  width: 20vw;
  height: 5vh;
  border-radius: 20px;
  font-style: oblique;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
  background-color: rgba(145, 89, 5, 0.133);
}